{
  "presets": ["babel-preset-expo", "flow", "react-native"],
  "env": {
    "test": {"plugins": ["react-native-web/babel"]},
    "development-web": {"plugins": ["react-native-web/babel"]},
    "production-web": {"plugins": ["react-native-web/babel"]},
    "test:native": {},
    "development": {},
    "production": {}
  }
}
